.astra-notice {
	display: none!important;
}


.created-categories {
    position: relative;
    float: left;
    width: 100%;
    max-width: 240px;
    margin-top: 40px;
    clear: both;
}
.created-categories a {
    position: relative;
    display: block;
    border: solid 1px #ccc;
    padding: 10px 10px 10px 50px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    outline: none!important;
}
.created-categories a:hover {
    background-color: #eee;
    color: #0073aa;
}
.created-categories .cat-drag {
    background: url(../icons/drag.png) no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 6px;
    margin-top: -12px;
    cursor: move;
}


.category-form {
    position: relative;
    display: none;
    float: left;   
    width: 100%;
    max-width: 240px;
    margin-top: 40px;
    clear: both;
}
.category-form label {
    display: block;
    color: #000;
    margin-bottom: 5px;
}
.category-form input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 10px;
}
.category-form .button {
    float: right;
    margin-top: 6px;
}
.close-update {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 23px;
    line-height: 100%;
    text-decoration: none;
    color: red;
}