html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.site {
    overflow: unset!important;
}

.pos-app {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009538+1,ffffff+42,ffffff+59,ed1c25+100 */
    background: #009538;
    /* Old browsers */
    background: -moz-linear-gradient(top, #009538 1%, #ffffff 42%, #ffffff 59%, #ed1c25 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #009538 1%, #ffffff 42%, #ffffff 59%, #ed1c25 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #009538 1%, #ffffff 42%, #ffffff 59%, #ed1c25 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#009538', endColorstr='#ed1c25', GradientType=0);
    /* IE6-9 */
}

.pos-app:after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 372px;
    background: url(../img/ny-pizza-footer-img.png) repeat-x center top;
}

.pos-app * {
    outline: none!important;
}

.pos-loading, .pos-loading:before, .pos-loading:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.pos-loading:before {
    z-index: 99999;
    background: url(../icons/pos/loading.svg) no-repeat center;
}

.pos-loading:after {
    background-color: #eee;
    opacity: 0.9;
}

.pos-logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto 30px;
}

.pos-sidebar-ui {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 30%;
    height: 100%;
    background: #fff;
    padding: 40px 20px;
    overflow-y: auto;
    text-align: center;
}

.pos-sidebar-ui ul, .pos-sidebar-ui li {
    list-style: none;
    margin: 0;
}

.pos-sidebar-ui li {
    margin-bottom: 1px;
}

.pos-sidebar-ui li:nth-child(even) a:hover {
    background: #05b944;
}

.pos-sidebar-ui li:nth-child(odd) a:hover {
    background: #ff464e;
}

.pos-sidebar-ui li a {
    display: block;
    font-size: 25px;
    font-weight: 700;
    border-left: solid 8px #282828;
    padding: 20px;
    line-height: 100%;
    color: #000;
    text-align: left;
}

.pos-sidebar-ui li a.active {
    text-decoration: underline;
    color: #fff;
}

.pos-sidebar-ui li:nth-child(odd) a {
    background-color: #ed1b24;
}

.pos-sidebar-ui li:nth-child(even) a {
    background-color: #009538;
}

.pos-content-ui {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 5;
    width: calc(65% - 40px);
    height: calc(100% - 80px);
    background-color: #fff;
    padding: 30px;
    overflow-y: auto;
}

.category-details {
    margin-bottom: 30px;
}

.category-details h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.category-details p {
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.pos-product-feeds {
    overflow: hidden;
    /*column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-gap: 30px;*/
}

.pos-product-thumbnail {
    background-image: url(../img/thumbnail.jpg);
    width: 100%;
    height: 220px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pos-product-name {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    padding: 15px 0;
}

.pos-product-price {
    display: block;
    background-color: #ed1b24;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 8px 15px;
    text-align: center;
    color: #fff;
}

.pos-product-options {
    display: none;
    overflow: hidden;
    background: #231f20;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 999;
    width: calc(65% - 40px);
    height: calc(100% - 80px);
    padding: 30px 30px 350px;
    overflow-y: auto;
}

.pos-product-edit-options {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.pos-option-toogle-content {
    text-align: center;   
    float: left;
    width: 100%;
}

.pos-product-info {
    float: left;
    width: 100%;
    background: #231f20;
    padding: 0;
    margin-bottom: 60px;
}
.pos-product-info .thumbnail {
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(../img/thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.pos-product-info .product-name {
    padding-left: 130px;
}
.pos-product-info .product-name .name {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 35px;
    text-transform: uppercase;
}
.pos-product-info .product-name .desc {
    font-size: 16px;
    font-weight: 400;
    color: #ccc;
    line-height: 26px;
    margin-top: 6px;
}

.pos-product-edit-option {
    float: left;
    width: 30%;
    margin-bottom: 40px;
}

.pos-product-edit-option:nth-child(3n+2) {
    margin-left: 5%;
    margin-right: 5%;
}

.pos-product-edit-option .title {
    display: table;
    float: left;
    width: 100%;
    position: relative;
    padding: 10px 15px;    
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 100%;
    text-transform: uppercase;   
    background: #ccc;
}

.pos-product-option-cta {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20!important;
    cursor: pointer;
}

.pos-product-edit-option .title span {
    position: relative;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
}

.pos-product-edit-option .title em {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #009538;
    width: 79px;
    height: 80px;
}

.pos-product-edit-option .title em:before {
    content: '';
    display: block;
    margin: 28px auto 0;
    width: 24px;
    height: 24px;
    background-image: url(../icons/pos/o-add.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.pos-product-edit-option .title.active {
    background: #333!important;
    color: #fff!important;
}

.pos-product-edit-option .title.active em {
    background: #000!important;
}

.pos-product-edit-option .title.active em:before {
    content: '-';
    background: none!important;
    color: #fff!important;
    font-size: 50px;
    line-height: 100%;
    font-weight: bold;
    margin: 12px auto 0!important;
}

.pos-options-group {
    display: block!important;
    float: left;
    width: 100%;
}

.pos-option-item {
    float: left;
    width: 100%;
    min-height: 80px;
    position: relative;   
    margin-bottom: 10px;
    text-align: left;
}

.pos-option-item * {
    position: relative;
    z-index: 10;
}

.pos-option-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #bfbfbf;
    opacity: 0.9;
}

.pos-option-add {
    position: relative;
    float: left;
    background-color: #009538;
    width: 70px;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 700;
    color: #0d1f02;
    line-height: 100%;
    margin-right: 20px;
    padding-top: 46px;
}

.pos-option-add:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    background-image: url(../icons/pos/o-add.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.pos-option-name, .pos-option-price {
    display: table;
    float: left;
    min-height: 80px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 100%;
}

.pos-option-name span, .pos-option-price span {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.pos-option-name em {
    display: block;
    font-size: 13px;
    margin-top: 0;
}

.pos-option-name {
    width: 120px;
}

.pos-option-price {
    width: 80px;
    text-align: right;
}

.pos-option-cta {
    float: left;
    height: 80px;
    margin-left: 0;
}

.pos-option-item.active .pos-option-selections-popup {
    display: block;
}

.pos-option-item.active .pos-option-add {
    background-color: #ed1b24;
    color: #650d0f;
}

.pos-option-item.active .pos-option-add:before {
    background-image: url(../icons/pos/cancel.png);
}

.pos-option-cta a {
    background-color: #fef56c;
    float: left;
    width: 70px;
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: #000!important;
    text-align: center;
    text-transform: uppercase;
}

.pos-option-cta a:before {
    content: '';
    background-image: url(../icons/pos/half.png);
    background-size: 30px;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px auto;
}

.pos-option-whole:before {
    background-position: 0 0;
}

.pos-option-half-left:before, .pos-option-half-right:before {
    background-position: 0 -30px;
}

.pos-option-half-right:before {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.pos-product-notes {
    display: none;
    background: #333132;
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 20px;
}
.pos-product-notes textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    line-height: 26px;
    padding: 15px;
}
.pos-product-notes ::placeholder {
    color: #3c3c3c;
}

.pos-option-cta a.active {
    background-color: #009538;
}

.pos-option-actions {
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 999;
    width: auto;
    padding: 20px;
}

.pos-option-actions:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d2d2d;
    opacity: 0.5;
}

.pos-option-actions .pos-send-to-oven,
.pos-option-actions .pos-cancel,
.pos-option-actions .pos-notes {
    position: relative;
    z-index: 10;
    float: right;
    width: auto;
    padding: 13px 30px;
    margin-top: 0!important;
    margin-left: 15px;
}
.pos-option-actions .pos-cancel {
    margin-left: 0;
}

.pos-cancel,
.pos-notes {
    display: block;
    background-color: #b2b2b2;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    padding: 30px 10px;
    line-height: 100%;
    border-radius: 100px;
}
.pos-notes { background-color: #009538; }
.pos-notes:hover { background-color: #008632; }

.pos-option-family {
    float: left;
}

.pos-option-qty-wrap {
    float: left;
    height: 80px;
}

.pos-option-qty-wrap span {
    float: left;
    width: 70px;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 74px;
    text-transform: uppercase;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 0;
}

.pos-option-qty-wrap input {
    float: left;
    width: 140px;
    height: 100%!important;
    background: #fff!important;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
}

.pos-cta-box {
    text-align: center;
    padding-bottom: 30px;
    margin: 10px 0 20px;
}

.pos-send-to-oven,
.pos-product-button {
    display: inline-block;
    vertical-align: top;
    background-color: #ed1b24;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    padding: 15px 10px;
    line-height: 100%;
    border-radius: 100px;
    width: 223px;
}

.pos-send-to-oven:hover,
.pos-product-button:hover {
    color: #fff;
    background-color: #da1b23;
}

.pos-product-price {
    display: block;
    background-color: #adadad;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 9px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
}

.pos-cart-display {
    position: fixed;
    z-index: 100;
    top: 40px;
    right: 90px;
    border-radius: 100px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

.pos-cart-display:before {
    content: '';
    float: left;
    width: 68px;
    height: 45px;
    background: url(../icons/pos/oven.png) no-repeat;
    background-size: 100%;
    margin-right: 30px;
}

.cart-col {
    display: table;
    float: left;
    height: 40px;
}

.cart-col:first-child {
    border-right: solid 1px #eee;
    padding-right: 15px;
    margin-right: 15px;
}

.cart-col span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    line-height: 100%;
}

.cart-total {
    font-size: 26px;
}

.cart-items {
    font-size: 20px;
}

.pos-option-selections {
    display: none;
    float: right;
    width: 47px;
    height: 80px;
    background: #827f7f url(../icons/pos/arrow-right.png) no-repeat center;
    cursor: pointer;
}

.pos-option-selections-popup {
    display: none;
    clear: both;
    width: 100%;
    height: 100%;
    background: #b1b1b1;
    padding: 10px 0 0;
}

.pos-option-selections-popup-wrap {
    float: right;
}

.pos-cart-orders {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #eee;
    overflow-y: auto;
}

.pos-cart-orders-wrap {
    display: block;
    vertical-align: middle;
    text-align: center;
}

.pos-cart-orders-con {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border: solid 1px #eee;
    overflow: hidden;
    box-shadow: 0 0 243px #ccc;
    border-radius: 10px;
}

.pos-cart {
    background: url(../icons/pos/oven.png) no-repeat center top;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.pos-cart-order {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: dashed 1px #ccc;
    cursor: default;
}
.pos-cart-order-notes {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 24px;
    padding-left: 30px;
}
.pos-cart-order:hover .pos-cart-order-notes {
    display: block;
}

.pos-order {
    position: relative;
    padding-right: 80px;
}

.pos-order-name, .pos-order-price {
    color: #000;
    font-weight: 700;
}

.pos-order-price {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-order-options {
    padding-left: 30px;
    cursor: default;
}

.pos-order-option {
    position: relative;
    padding-right: 80px;
}

.pos-order-option-price {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-order-variation {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 4px;
    background: #eee;
    color: #9a9a9a;
    line-height: 100%;
    margin-left: 10px;
}

.pos-order-cta {
    float: left;
    width: 100%;
    margin-top: 10px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pos-order-remove, .pos-order-edit {
    display: inline-block;
    vertical-align: middle;
    width: 66px;
    line-height: 100%;
    border-radius: 4px;
    padding: 10px 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.pos-order-remove {
    background: #ed1b24;
}

.pos-order-edit {
    background: #009538;
}

.pos-order-remove:hover, .pos-order-edit:hover {
    color: #fff;
    opacity: 0.9;
}

.pos-cart-cta a {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    padding: 20px 10px;
    line-height: 100%;
    border-radius: 100px;
}

.pos-cart-cta a.pos-cart-checkout {
    background-color: #009538;
}

.pos-cart-cta a.pos-cart-add-notes {
    background-color: #ed1b24;
}

.pos-cart-cta a.pos-cart-close {
    background-color: #333;
}

.pos-cart-cta a:hover {
    opacity: 0.9;
    color: #fff;
}

@media (max-width: 1380px) {
    .pos-product-edit-option {
        width: 45%;
    }
    .pos-product-edit-option:nth-child(3n+2) {
        margin-right: 0;
        margin-left: 10%;
    }
}


@media (min-width: 1351px) {

    .pos-product {
        float: left;
        display: inline-block;
        vertical-align: top;
        width: 32.4%;
        margin-left: 0;
    }

    .pos-product:nth-child(3n), .pos-product:nth-child(3n+2) {
        margin-left: 10px;
    }

    .pos-product:nth-child(3n+1) {
        clear: both;
    }

}

@media (min-width: 981px) and (max-width: 1350px) {
    .pos-sidebar-ui {
        width: 33%;
    }

    .pos-content-ui, .pos-product-options {
        top: 20px;
        right: 20px;
        width: calc(67% - 40px);
    }
    .pos-option-item {
        width: 100%;
    }
    .pos-option-actions {
        right: 20px;
        bottom: 60px;
    }

    .pos-product {
        float: left;
        display: inline-block;
        vertical-align: top;
        width: 49%;
        margin-left: 0;
    }

    .pos-product:nth-child(2n) {
        margin-left: 10px;
    }

    .pos-option-item:nth-child(2n+1) {
        clear: both;
    }

    .pos-sidebar-ui li a {
        padding: 20px;
    }

    .pos-option-add {
        width: 72px;
    }

    .pos-option-name {
        width: 130px;
    }

    .pos-option-price {
        width: 66px;
    }
}

@media (min-width: 768px) and (max-width: 1178px) {
    .pos-product-edit-option {
        width: 45%;
    }
    .pos-product-edit-option:nth-child(3n+2) {
        margin-right: 0;
        margin-left: 10%;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    .pos-sidebar-ui {
        width: 35%;
    }

    .pos-content-ui, .pos-product-options {
        top: 20px;
        right: 20px;
        width: calc(65% - 40px);
    }
    .pos-option-actions {
        position: fixed;
        bottom: 60px;
        right: 20px;
        z-index: 999;
        padding: 20px;
    }

    .pos-product {
        float: left;
        display: inline-block;
        vertical-align: top;
        width: 48.5%;
        margin-left: 0;
    }
    
    .pos-product:nth-child(2n) {
        margin-left: 10px;
    }

    .pos-product:nth-child(2n+1) {
        clear: both;
    }

    .pos-send-to-oven {
        padding: 15px 15px;
        font-size: 19px;
        width: auto;
    }

    .pos-sidebar-ui li a {
        padding: 20px;
    }
}

@media (max-width: 860px) {
    .pos-product-edit-option {
        width: 100%;
    }
}


@media (min-width: 701px) and (max-width: 767px) {
    .pos-sidebar-ui {
        width: 40%;
    }

    .pos-sidebar-ui li a {
        font-size: 25px;
        padding: 20px;
    }

    .pos-content-ui, .pos-product-options {
        top: 20px;
        right: 20px;
        width: calc(60% - 40px);
    }
    .pos-option-item {
        width: 100%;
    }
    .pos-option-actions {
        position: fixed;
        bottom: 60px;
        right: 20px;
        z-index: 999;
        width: calc(60% - 40px);
        padding: 20px;
    }

    .pos-send-to-oven {
        padding: 15px 8px;
        font-size: 19px;
        width: 100%;
    }
}

@media (max-width: 700px) {
    #masthead, .entry-title {
        display: none;
    }

    html, body {
        overflow: visible;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .site {
        overflow: unset!important;
    }

    .pos-cart-display {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 90%;
        border: 1px solid #ccc;
        padding: 5px;
    }

    .pos-app {
        position: relative;
    }

    .pos-sidebar-ui {
        width: 100%;
        position: relative;
    }

    .pos-content-ui {
        width: calc(100% - 40px);
        position: relative;
        top: 0;
        right: 0;
        margin: 20px auto;
    }
    .pos-option-item {
        width: 100%;
    }
    .pos-options-group, .pos-option-actions {
        width: 100%;
        right: 0;
        bottom: 0;
    }

    .pos-option-actions .pos-send-to-oven,
    .pos-option-actions .pos-cancel,
    .pos-option-actions .pos-notes {
        float: none;
        font-size: 19px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .pos-send-to-oven,
    .pos-notes {
        margin-bottom: 10px;
        padding: 15px 8px;
        font-size: 19px;
        width: 100%;
    }

    .pos-cta-box {
        margin: 10px 0 0;
    }

    .pos-product {
        margin-bottom: 0;
    }

    .pos-sidebar-ui li a {
        padding: 20px;
    }

    .pos-option-qty-wrap span, .pos-option-qty-wrap input {
        width: 100%;
    }

    .pos-option-selections-popup {
        padding: 0;
        z-index: 999;
    }

    .pos-product-options {
        top: 0;
        right: 0;
        width: 100%;    
        height: 100%;    
    }

    .pos-product-edit-option {
        width: 100%;
    }
    .pos-product-edit-option:nth-child(3n+2) {
        margin-left: 0;
    }
}


@media (max-width: 480px) {
    .pos-send-to-oven, .pos-product-button {
        width: 100%;
    }
}


@media (max-width: 360px) {
    .pos-product-info .product-name {
        float: left;
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
    }
}