html, body {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar { 
    display: none; 
}
.site { overflow: hidden!important; }

* {
	box-sizing: border-box;
	outline: none!important;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    -webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}
.emp-app {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3F0D12;
	z-index: 99999;
	overflow-y: auto;
}
.emp-app * {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}





.emp-button {
	position: relative;
	display: table;
	width: 100%;
	height: 70px;
	text-align: center;	
	font-size: 20px;		
	line-height: 100%;
	margin-bottom: 15px;
	cursor: pointer;
}
.emp-button.selected:after,
.emp-half-button.selected:after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	background-image: url(../icons/register/check.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
}
.emp-button span {
	position: relative;
	z-index: 10;
	display: table-cell;
	vertical-align: middle;
}
.emp-dine-in {
	background-color: #ee4037;
	color: #fff;
}
.emp-pick-up {
	background-color: #e58e26;
	color: #fff;
}
.emp-delivery {
	background-color: #FF6421;
	color: #fff;
}
.emp-order-category .emp-button {
	background-color: #833471;
}






.emp-screen {
	position: relative;
	display: table;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding: 80px 30px;
}
.emp-wrap {
	display: table-cell;
	vertical-align: middle;	
	text-align: center;
}
.emp-actions {
	position: relative;	
	max-width: 630px;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 15px;
}
.emp-actions .emp-button {
	width: calc(33.33% - 15px);
	margin: 0 15px 15px 0;		
}





.emp-header {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 60px;
	padding: 0 20px;
}
.emp-header .emp-wrap { max-width: 100%; }
.emp-header .emp-col { text-align: left; }
.emp-header .emp-col .emp-label {
	display: block;
	color: #ED4C67;
	font-size: 16px;	
	text-transform: uppercase;
}
.emp-header .emp-col .emp-name {
	display: block;
	color: #fff;
	font-size: 16px;	
}
.emp-header .emp-back-screen {
	position: relative;
	z-index: 10;
	display: table;
	float: left;
	border: solid 2px #ee4037;	
	font-size: 20px;	
	line-height: 100%;
	padding: 6px 20px;
	border-radius: 100px;
	cursor: pointer;
	opacity: 0;
}
.emp-header .emp-back-screen span {
	display: table-cell;
	vertical-align: middle;
	color: #ee4037!important;
}
.emp-header .emp-cart { float: right; }
.emp-order-type {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 0;
	text-align: center!important;
}
.emp-order-type span {
	display: table-cell;
	vertical-align: middle;
}
.emp-order-label {
	font-size: 30px;	
	font-weight: 700;
	text-transform: uppercase;
}
.emp-cart-total {
	font-size: 26px;	
}





.emp-content {
	display: none;
	padding-bottom: 150px;
}
.emp-content .blur {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.emp-content .blur .emp-button { cursor: default!important; }
.emp-add-to-cart {
	position: fixed;
    top: 12px;
    right: 15px;
    z-index: 1;
    background-color: #ee4037;
    border-radius: 100px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}
.emp-add-to-cart.added {
	background-color: transparent!important;
	width: 60px;
	height: 60px;
	padding: 0!important;
	background-image: url(../icons/register/check.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px;
	cursor: default;
}
.emp-add-to-cart.added * { font-size: 0%!important; }
.prd-price {
	display: block;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	margin-top: 6px;
}
.emp-content-variations .emp-button.unselected,
.emp-content-options .emp-button.unselected,
.emp-half-button.unselected { background-color: rgb(160, 160, 160)!important; }
.emp-default-box {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: url(../icons/register/no-options.jpg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
}






.emp-footer {
	display: table;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99999999999;
	width: 100%;
	height: 60px;
	background-color: #310a0e;
}
.emp-foot-box {
	display: table;
	float: left;
	min-width: 133px;
	height: 100%;
	text-align: center;
	font-size: 20px;
	background-color: #A71D31;
	margin-right: 1px;
	cursor: pointer;
}
.emp-cart-checkout { width: 175px; }
.emp-foot-box-wrap {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.emp-cart-sales {
	position: relative;
	float: right;
	width: 210px;
	background-color: #ee4037;
	color: #fff;	
	margin-right: 0;
}
.emp-cart-sales:before {
	content: '';
	position: absolute;
	top: -56px;
	left: 0;
	width: 100%;
	height: 56px;
	background-image: url(../icons/register/oven.png);
	background-repeat: no-repeat;
	background-position: center bottom -12px;
	background-size: contain;
}
.emp-cart-sales .cart-whole { font-size: 40px; }
.emp-cart-checkout,
.emp-cart-notes,
.emp-cart-void {
	float: right;		
}
.emp-user {	
	background-color: #1f0508;
	background-image: url(../icons/register/user.png);
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: left;
	width: 80px;
	min-width: auto;
}
.emp-user .user-label {
	display: block;
	font-size: 14px;
}
.emp-user .user-name {
	display: block;
	font-size: 20px;
}





.emp-half-n-half {
	display: none;
	position: fixed;
	top: 0;
	right: -400px;
	z-index: 999999999;
	width: 386px;
	height: 100%;	
}
.emp-half-n-half:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
}
.emp-half-n-half:after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	width: 386px;
	height: 100%;
	background-color: #000;
	z-index: 5;
}
.emp-half-n-half .emp-wrap {
	position: relative;
	z-index: 10;
}
.emp-half-button {
	position: relative;
	display: table;
	float: left;
	width: 80%;
	height: 70px;
	margin-left: 10%;
	margin-bottom: 20px;
	font-size: 20px;
	background-color: #a71d31;
	cursor: pointer;
}
.emp-half-button span,
.emp-half-cancel span,
.emp-half-save span {
	position: relative;
	z-index: 10;
	display: table-cell;
	vertical-align: middle;
}
.emp-half-cta {
	position: fixed;
	top: 0;
	right: 0;
	width: 386px;
	padding: 15px;
}
.emp-half-cancel,
.emp-half-save {
	display: table;
	float: left;
	width: 90px;
	height: 40px;		
	font-size: 18px;
	background-color: #a71d31;
	cursor: pointer;
	border-radius: 100px;
}
.emp-half-save {
	float: right;
	background-color: #ee4037;
}





.emp-ask-user,
.emp-order-void {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
}
.emp-ask-user:after,
.emp-order-void:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.97;
}
.emp-ask-user-cta,
.emp-order-void-wrap {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	margin: 0 auto;
}
.emp-option-unselect,
.emp-option-update,
.emp-confirm-sure,
.emp-confirm-cancel {
	position: relative;
    display: table;
    float: left;
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    margin: 0 10px;
}
.emp-option-unselect span,
.emp-option-update span,
.emp-confirm-sure span,
.emp-confirm-cancel span {
	display: table-cell;
	vertical-align: middle;
}
.emp-option-unselect,
.emp-confirm-sure { background-color: #A71D31; }
.emp-option-update { background-color: #88B04B; }
.emp-confirm-cancel { background-color: #6d6d6d; }
.emp-ask-user-cta .emp-title {
	font-size: 28px;
	font-weight: 600;
	color: #949494;
	margin-bottom: 40px;
}





.emp-cart-summary {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99999999999;
	width: 386px;
	height: calc(100% - 60px);	
	text-align: left;
}
.emp-cart-summary:before,
.emp-cart-summary:after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #310a0e;
}
.emp-cart-summary:before {
	z-index: 1;
	width: calc(100% - 386px);
	background-color: transparent;
	background-image: url(../icons/register/oven.png);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
}
.emp-cart-wrap {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: 386px;
	height: calc(100% - 60px);	
	overflow-x: auto;
	background-color: #fff;
}
.emp-cart-summary .emp-title {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: 386px;
	text-transform: uppercase;
	color: #000;
	font-size: 30px;
	font-weight: 600;
	padding: 4px 15px;
	border-bottom: solid 6px #ee4037;	
	background-color: #fff;
}





.emp-cart-orders {
	float: left;
	width: 100%;
	padding: 68px 15px 30px;
}
.emp-order {
	position: relative;
	float: left;
	width: 100%;
	padding-left: 60px;
	padding-right: 100px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: dashed 2px #ccc;
}
.emp-order-quantity {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
	width: 40px;
	height: 40px;
	background-color: #696969;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}
.emp-order-quantity.selected { background-color: #A71D31; }
.emp-order-quantity span {
	display: table-cell;
	vertical-align: middle;
}
.emp-order-name {
	display: block;
	font-size: 20px;
	color: #333;
	line-height: 26px;
	margin-top: 4px;
}
.emp-order-price {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	font-weight: 700;
	color: #000;
}
.emp-order-options { margin-top: 10px; }
.emp-order-options * {
	color: #333;
	font-weight: 600;
}
.emp-order-option-group {
	font-weight: 600;
	font-size: 16px;
}
.emp-order-option-row {
	position: relative;
	font-size: 14px;
	padding-left: 10px;
	margin-top: 6px;
}
.emp-order-option-row .option-amount {
	position: absolute;
	top: 0;
	right: -100px;
	color: #000;
	font-weight: 700;
}
.emp-order-option-row .option-type {
	display: inline-block;
	vertical-align: top;
	padding-left: 7px;
	font-size: 12px;	
	color: #ee4037;
}





.emp-quantity-options {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999999;
	width: calc(100% - 386px);
	height: 100%;
	text-align: center;
}
.emp-quantity-options:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: calc(100% - 386px);
	height: 100%;
	background-color: #310a0e;	
}
.emp-quantity-options-box {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: middle;
	width: 420px;
	margin: 0 auto;
	overflow: hidden;
}
.emp-quantity-num {
	display: table;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #A71D31;
    margin: 2px;
    font-size: 32px;
    cursor: pointer;
}
.emp-quantity-num.selected { background-color: #ee4037; }
.emp-quantity-num span {
	display: table-cell;
	vertical-align: middle;
}
.emp-order-cta {
	display: none;
	width: 100%;
}
.emp-order-cta,
.emp-order-cta:after {
	position: absolute;
	top: 0;
	left: 0;	
	height: 100%;
	z-index: 50;
	padding: 0 20px;
}
.emp-order-cta:after {
	content: '';
	z-index: 0;
	width: 356px;
	background-color: #d8d8d8;
	opacity: 0.8;
}
.emp-order-cta-wrap {
	position: relative;
	z-index: 10;
	display: table-cell;
	vertical-align: middle;
}
.emp-order-remove,
.emp-order-change {	
	display: table;
	float: left;
	width: calc(50% - 6px);
	height: 44px;
	margin: 0 3px;	
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.emp-order-remove span,
.emp-order-change span {
	display: table-cell;
	vertical-align: middle;
}
.emp-order-remove { background-color: #A71D31; }
.emp-order-change { background-color: #ee4037; }





.emp-content-notes{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
}
.emp-content-notes:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.97;
}
.emp-content-notes-wrap {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
}
.emp-content-notes textarea {
	float: left;
    width: 100%;
    height: 200px;
    padding: 30px;
    font-size: 24px;
    line-height: 30px;
    color: #333!important;
    margin-bottom: 20px;
}
.emp-notes-add,
.emp-notes-cancel {	
	display: table;
	float: left;
	width: calc(50% - 10px);
	height: 70px;
	font-size: 20px;
	text-align: center;
}
.emp-notes-add span,
.emp-notes-cancel span {
	display: table-cell;
	vertical-align: middle;
}
.emp-notes-add {background-color: #88B04B; }
.emp-notes-cancel {
	float: right;
	background-color: #A71D31;
}





.emp-server-request {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999999999;
	width: 100%;
	height: 100%;
}
.emp-server-request:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #310a0e;
	opacity: 0.97;
}
.emp-server-message {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.emp-server-request .emp-server-icon {
	display: block;
	width: 128px;
	height: 128px;
	background-image: url(../icons/register/wait.svg);
	background-size: 128px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.emp-server-request.success .emp-server-icon { background-image: url(../icons/register/check.png); }
.emp-server-request.failed .emp-server-icon { background-image: url(../icons/register/notice.png); }
.emp-server-text {
	display: block;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	margin-top: 30px;
	text-align: center;
}





.emp-login-screen{
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100%;
	height: 100%;
}
.emp-login-screen:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #310a0e;	
}
.emp-login-screen-wrap {
	background-color: #270409;
	padding: 0 10px 20px;
	position: relative;
	z-index: 10;	
	display: inline-block;
	vertical-align: middle;	
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
}
.emp-login-numbers {
	float: left;
	width: 434px;
}
.emp-login-num {
	display: table;
    float: left;
    background-color: #A71D31;
    background-repeat: no-repeat;
    background-position: center;
    width: 128px;
    height: 70px;
    margin: 5px;
    font-size: 30px;
    line-height: 100%;
}
.emp-login-num span {
	display: table-cell;
	vertical-align: middle;
}
.emp-login-del,
.emp-login-clr { background-color: #ee4037; }
.emp-login-del {
	background-image: url(../icons/register/del.png);
	background-size: 36px;
}
.emp-login-display {
	position: relative;
	z-index: 0;
	float: left;
    width: 100%;
    height: 80px;
    appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    border: none!important;
    background: none!important;
    text-align: center;
    font-size: 82px;
    padding: 0!important;
    line-height: 100%;
    letter-spacing: 9px;
    color: #fff!important;
}
.emp-login-display-cover {
	position: absolute;
	z-index: 1;
	left: 10px;
	top: 10px;
	width: 100%;
	height: 80px;
}
.emp-login-cta-btn {
	display: table;    
    float: left;
    width: calc(100% - 10px);
    height: 70px;
    margin: 10px 5px 0;
    font-size: 27px;
    font-weight: 600;
}
.emp-login-cta-btn span {
	display: table-cell;
	vertical-align: middle;
}
.emp-login-singin { background-color: #ee4037; }
.emp-login-checkin { background-color: #e58e26; }
.emp-login-checkout { background-color: #FF6421; }
.emp-login-cta {
	float: right;
	width: 246px;
	padding-top: 100px;
}





.emp-user-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100%;
	height: 100%;
}
.emp-user-menu:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #310a0e;	
}
.emp-user-menu-wrap,
.emp-user-info {
	background-color: #270409;
	padding: 20px;
	position: relative;
	z-index: 10;		
	width: 434px;	
	margin: 0 auto;
}
.emp-user-info {
	padding: 0;
	background-color: transparent!important;
	margin-bottom: 40px;
	text-align: center;
}
.emp-user-btn {
	position: relative;
    display: table;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}
.emp-user-btn span {
	display: table-cell;
	vertical-align: middle;
}
.emp-user-checkout { background-color: #ee4037; }
.emp-user-logout { background-color: #e58e26; }
.emp-user-transactions {
	background-color: #FF6421;
	margin-bottom: 0;
}
.emp-user-info .avatar {
	display: block;
	background-color: #270409;	
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../icons/register/user.png);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto 15px;
}
.emp-user-info .username {
	display: block;
}
.emp-user-menu-close,
.emp-transactions-close {
	display: table;
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 50;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: solid 2px #ee4037;	
	text-align: center;
	font-size: 30px;
	line-height: 100%;
}
.emp-user-menu-close span,
.emp-transactions-close span {
	display: table-cell;
	vertical-align: middle;
	color: #ee4037!important;
}





.emp-transactions {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100%;
	height: 100%;
}
.emp-transactions:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #310a0e;	
}
.emp-transactions-wrap {
	background-color: #270409;
	padding: 10px;
	position: relative;
	z-index: 10;	
	display: inline-block;
	vertical-align: middle;	
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
}
.emp-transactions table,
.emp-transactions th,
.emp-transactions td {
	border: none;
	border-collapse: collapse;
	margin-bottom: 0;
}
.emp-transactions th {
	padding: 10px;
	text-align: left;
	background: #ee4037;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 100%;
	letter-spacing: 1px;
}
.emp-transactions th:last-child { text-align: right; }
.emp-transactions tbody tr:nth-child(even) td { background: #ccc; }
.emp-transactions tbody tr:nth-child(odd) td { background: #fff; }
.emp-transactions td {
	padding: 10px;
	font-size: 14px;
	font-weight: 600;	
	color: #000;
	vertical-align: top;
}
.emp-transactions td:last-child {
	text-align: right;		
	font-weight: 600;
	font-size: 16px;
}
.emp-transactions tfoot th {
	text-align: right;
	background: #ee4037;
    color: #000;
    font-weight: 700;
}
.emp-transactions tfoot th:last-child { font-size: 30px; }





.emp-checkout-window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3F0D12;
	z-index: 999999;
}
.emp-chechout-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding-left: 40px;
}
.emp-checkout-title {
	float: left;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.emp-checkout-cta { float: right; }
.emp-checkout-void,
.emp-checkout-close {
	position: relative;
	display: table;
	float: left;	
	width: 120px;
	height: 50px;
	text-align: center;	
	font-size: 20px;		
	line-height: 100%;	
	cursor: pointer;
	padding: 
}
.emp-checkout-void span,
.emp-checkout-close span {
	position: relative;
	z-index: 10;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.emp-checkout-void {
	background-color: #ee4037;
	margin-right: 15px;
}
.emp-checkout-close { background-color: #A71D31; }
.emp-checkout-frame {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
}